body {
    text-align: center;
}

.hide-modal {
    display: none;
  }
  
.button-replay {
    width: 30%;
    height: 6%;
    /* position: absolute; */
    cursor: pointer;
    /* top: 40%; */
    margin-top: 10%;
    /* right: 43%; */
    font-size: 1em;
  }
.winText {
 font-weight: bold;
 text-align: center;
 font-size: 2em;


}

.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999
  }
  
.modal {
    padding: 20px 30px;
    width: 32%;
    height: 80%;
    max-height: calc(100% - 150px);
    overflow-y: scroll;
    position: relative;
    min-height: 300px;
    margin: 1% auto 0;
    background: #fff;
    z-index: 9999;
    border-radius: 20px;
  }